#navbar .logo {
  float: none;
  text-align: center;
}

#navbar ul, #navbar ul li {
  float: none;
  padding-bottom: 0.5rem;
}

#navbar ul li a {
  padding: 5px;
  border-bottom: #555 double 1px;
}

#showcase {
  height: 100%;
}

#showcase .showcase-content {
  padding-top: 70px;
  padding-bottom: 30px;
}

#home-info {
  height: 550px;
  /* padding-bottom: 30px; */
}

#home-info .info-img {
  display: none;
}

#home-info .info-content {
  float: none;
  width: 100%;
  text-align: center;
  padding: 7rem 0;
}
  .btn-light {
    background: #f4f4f4;
    color: #333;
    margin-top: -20px;
  }


.box {
  float: none;
  width: 100%;
}


#about-info .info-right,
#about-info .info-left {
  float: none;
  width:100%
}

.l-heading {
  text-align: center;
}

#about-info .info-right {
  margin-top: 30px;
}

#contact-info .box {
  border-bottom: #555 double 1px;
}
